body{
    margin: 0px;
    padding:0px;
    background-color:white;
    border:2px solid rgb(125, 121, 121);
}
.maincontainer{
    margin: 0px;
    padding:0px;
    background-color: rgba(163, 229, 229,0.5);
    /* border:2px solid rgb(125, 121, 121); */
    height:99.5vh;
    background-image:url(./Assests/images/pencil-poetry.jpg);
    background-size:100% 100%;
}
nav{
    height:150px;
    /* border:2px solid rgb(133, 128, 128); */
    display: flex;
    align-items: center;
    color:rgb(245, 38, 38);
    font-family: sans-serif;
    font-weight: 600;
}
.logo{
    margin-left:100px;
    width:25%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:2px solid rgb(125, 121, 121); */
}

.logo .logoimg{
    width:50%;
    height:100%;
}

.logotext{
    font-size:20px;
    font-family: cursive;
}
.logo .logoimg img{
    width:100%;
    height:100%;
    /* border:2px solid blanchedalmond; */
}

.navcontentblock{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap:80px;
    margin-left:10%;
    /* border:2px solid rgb(125, 121, 121); */
}
.navcontent{
    cursor: pointer;
    font-family: cursive;
}

.navcontent a{
    display: inline-block;
    padding:5px;
    font-family: cursive;
    text-decoration: none;
    box-shadow:5px 5px rgb(156, 151, 151);
    color:rgb(15, 16, 17);
    font-family: sans-serif;
    font-weight: 600;
    font-size:17px;
    color: rgb(229, 109, 23);
}
.navcontent:hover{
    background-color:rgba(212, 211, 215, 0.3);
    font-size:18px;
}
.navcontent a:hover{
    color:rgb(41, 40, 40);
}
#poets{
    position: relative;
}
.poetsname{
    margin-top:10px;
    box-shadow: none;
    display:none;
    position:absolute;
    left:0px;
}
.poetsname:hover .navcontent a{
    color:black;
}
.poetsname ul{
    width:100%;
    box-shadow: none;
    border-radius:5px;
    background-color: rgb(248, 247, 250);
}
.poetsname ul li{
padding:20px;
}
.poetsname ul li a{
    color:rgb(74, 74, 74);
    box-shadow: none;
}

.poetsname ul li a:hover{
    background-color: rgb(252, 252, 251);
    color: rgb(229, 109, 23);
}
#poets:hover .poetsname{
    display: inline-block;
}

.poemcontent{
    width: 100%;
}
.poets{
    display: flex;
   width:99.8%;
   height:400px; 
   /* border:2px solid peru; */
   margin-top:100px;
}
.poetsprofile{
    width:40%;
    height:95%;
    /* border:2px solid rgb(51, 176, 218); */
    padding:10px;
}

.poetsprofile .pname{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color:blueviolet;
    width:100%;
    font-size:20px;
    font-weight: 600;
    margin-top:8px;
    /* border:2px solid rgb(212, 27, 27); */
}

.poetsprofile .pcontent{
    height:90%;
    width:100%;
}

.poetsprofile .pcontent img{
    height: 100%;
    /* border:2px solid rgb(93, 219, 61); */
    width: 100%;
}
.poetscreation{
    width:60%;
    height:100%;
    /* border:2px solid rgb(202, 30, 151); */
}

.poetscreation .nickname{
    background-color:rgba(156, 126, 227, 0.3);
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
    font-weight:600;
    color:rgb(28, 29, 32);
    margin-bottom:20px;
}

.poetscreation .pcreationblock{
    width:100%;
    height:98%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:2px solid rgb(212, 27, 27); */
}

.pcreationblock .poemslist{
    /* padding-left:20px; */
    width:50%;
    height:100%;
    /* border:2px solid rgb(212, 27, 27); */
}
.poemslist .poemlisttitle{
    font-size:25px;
    font-family:cursive;
    font-weight:600;
    color: rgb(132, 69, 157);
    font-style: italic;
    text-decoration:underline solid black;
    text-decoration-style:dashed;
}

.poemslist .actualpoemlist ul{
    border-radius:5px;
    height:100%;
    background-color: rgba(92, 176, 248, 0.2);
    /* border:2px solid rgb(113, 110, 110); */
}
.actualpoemlist ul li{
    margin-bottom:20px;
    cursor: pointer;
    padding:10px;
    width:90%;
}

.actualpoemlist ul li a{
    text-decoration: none;
    color:darkmagenta;
}
.actualpoemlist ul li:hover{
    background-color: rgba(163, 229, 229,0.5);
    color:rgb(36, 182, 3);
}

.actualpoemlist ul li:hover a{
    color:green;
    font-size:25px;
}
.pcreationblock .famouslist{
    width:40%;
    height:100%;
    /* border:2px solid rgb(212, 27, 27); */
}
.actualfamouslist{
    padding-left:10px;
    width:95%;
}
.famouslist .famouslisttitle{
    font-size:25px;
    font-family:cursive;
    font-weight:600;
    color: rgb(132, 69, 157);
    font-style: italic;
    text-decoration:underline solid black;
    text-decoration-style:double; 
}
.actualfamouslist ul{
    border-radius:5px;
    height:100%;
    background-color: rgba(156, 126, 227, 0.3);
}
.actualfamouslist ul li{
    margin-bottom:20px;
    cursor: pointer;
    padding:10px;
    width:90%;
}

.actualfamouslist ul li a{
    text-decoration: none;
    color:darkmagenta;
}

.actualfamouslist ul li:hover{
    background-color:rgba(156, 126, 227, 0.3);
}

.actualfamouslist ul li:hover a{
    color:chocolate;
    font-size:25px;
}

hr{
    height:20px;
    border-top:5px dotted rgb(198, 198, 198);
    border-left:none;
    border-right:none;
    border-bottom:none;
    margin:10px auto 10px auto;
    width:10%;
}

footer{
    width:100%;
    height:300px;
    background-color: rgb(28, 29, 30);
    border:1px solid white;
}

footer .socialmedia{
    width:40%;
    height:50px;
    margin:50px auto 0px auto;
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap:50px;
    color:white;
}
.socialmedia i{
    cursor: pointer;
    padding:5px;
}
.socialmedia i:hover{
    color:rgb(180, 181, 181);
}
footer .spaciallinks{
    color:rgb(217, 210, 210);
    width:max-content;
    height:max-content;
    margin:30px auto 0px auto;
    font-family: cursive;
}

footer .spaciallinks p a{
    text-decoration: none;
    color:rgb(243, 244, 246);
    font-size:20px;
    font-style: italic;
}
footer .spaciallinks p a:hover{
    color:chocolate;
}
.motivationaltag{
    font-family: monospace;
    height:35px;
    font-size:20px;
    margin:25px auto 0px auto;
    color: rgb(255, 245, 240);
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(55, 48, 100, 0.3);
}

.poemtypecarsoul{
    width:60%;
    height:300px;
    margin:100px auto 50px auto;
    border: 1px solid blueviolet;
    border-radius:10px;
    background-image: url(./Assests/images/moon.jpg);
    background-size:100% 100%;
    background-repeat:none;
    transition-delay:1s;
}
