body{
    margin: 0px;
    padding:0px;
}

nav{
    height:150px;
    /* border:2px solid rgb(133, 128, 128); */
    display: flex;
    align-items: center;
    color:rgb(245, 38, 38);
    font-family: sans-serif;
    font-weight: 600;
}
.logo{
    margin-left:100px;
    width:25%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:2px solid rgb(125, 121, 121); */
}

.logo .logoimg{
    width:50%;
    height:100%;
}

.logotext{
    font-size:20px;
    font-family: cursive;
}
.logo .logoimg img{
    width:100%;
    height:100%;
    /* border:2px solid blanchedalmond; */
}

.navcontentblock{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap:80px;
    margin-left:10%;
    /* border:2px solid rgb(125, 121, 121); */
}
.navcontent{
    cursor: pointer;
    font-family: cursive;
}
.navcontent a{
    padding:5px;
    font-family: cursive;
    text-decoration: none;
    /* box-shadow:5px 5px rgb(156, 151, 151); */
    color:rgb(15, 16, 17);
    font-family: sans-serif;
    font-weight: 600;
    font-size:17px;
}
.navcontent a:hover{
    color:rgb(41, 40, 40);
    font-size:18px;
}

.maincontainer{
    width:100%;
    height:max-content;
}

.poemsblock{
    /* border:2px solid black; */
    padding:10px;
    width:80%;
    margin:0px auto 0px auto;
}

.poem-item{
    /* border:2px solid rgb(246, 35, 35); */
    width:80%;
    height:max-content;
    padding:20px;
    align-items: center;
}

.poem-item .poem-title
{
    border-radius:5px 0px 0px 0px;
    background-color:rgba(255, 192, 203,0.5);
    padding:10px;
    padding-right:20px;
    color:rgb(255, 77, 0);
    width:max-content;
    display: flex;
    margin-left:20%;
    font-size:20px;
    font-family: monospace;
    font-style: italic;
    text-decoration:underline solid blueviolet;
    text-decoration-style:double;
}

.poem-item .poem-content{
    border-radius:0px 5px;
    background-color:rgba(255, 192, 203,0.5);
    padding:50px;
    color:blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    width:max-content;
    align-items: center;
    justify-content: center;
    margin-left:20%;
    font-size:15px;
    line-height:50px;
}
hr{
    border:none;
    border-top:4px dotted rgba(119, 118, 118, 0.1);
    width:70%;
    margin:10px auto 10px auto;
}
.poem-item .title-left{
    float: right;
    background-color:rgba(219, 168, 242, 0.2);
}
.poem-item .left{
    margin-bottom:30px;
    float:right;
    background-color:rgba(219, 168, 242, 0.2);
}